

<%- include("partials/gg"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">Woofyverse</label>
    <ul>
      <li><a href="/">Home</a></li>
   <li><a href="https://www.woofyverse.org/#TEAM">TEAM <i class="fa fa-users" aria-hidden="true"></i></a></li>
      <li class="nav-item dropdown">
        <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Adopt
        </a>
        <ul style="line-height:0cm ;" class="dropdown-menu">
          <li><a class="dropdown-item" href="/permanent-adoption">Adopt Permanently</a></li>
          <li><a class="dropdown-item" href="/experience-adoption">Experience Adoption</a></li>
          <li><a class="dropdown-item" href="/breed">Search by Breed</a></li>
        </ul>
      </li>
      <li><a href="/compose">Rehome</a></li>
      <li><a href="/adopted">Adopted</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/donate">Donate</a></li>
        <li><a class="btn btn-primary logout" href="/<%=text%>"><%=text%></a></li>
     
  </nav>
  <!-- section banner start -->
	<div class="header_section2">
		<div class="container-fluid">
			
		</div>
		<div class="banner_main">
			<div class="container">
				<div class="ram">
					<div class="row">
					    <div class="col-sm-12">
						    <h1 class="taital">Report Abuse to Animals</h1>
						    <p class="consectetur_text">Most reported animal abuse comes in the form of neglect, with direct violence occurring less. Only you can make a difference.
                            </p>
						    <div class="banner_bt">
                             
						    	<button class="read_bt"><a style="color: black" href="#report"> Report Abuse </a> </button>
						    </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
 <div class="container">
    

<div style="margin-top: 850px" class="jumbotron">
   <center>  <h2 class="animate-charcter" style="
    font-weight: 700">Only you can make a difference.</h2> </center>
<p> Every state has laws prohibiting animal cruelty but a law is only as good as its enforcement and that's why animals rely on you to protect them by reporting animal abuse. We never know where sudden mishap will strike or when animals may be in need of urgent rescue, but we know we must be prepared. Your support makes this lifesaving work possible.</p>

<center> <h2 class="animate-charcter" style="
    font-weight: 700">What is animal abuse?</h2></center> 
<h3 class="animate-charcter" style="
font-weight: 500">Online Pet Sale & Buy</h3> 
<p> Online sale of Pets in India is banned in India according to The Prevention of Cruelty to Animals Act 1960. They elaborate on the various terms and conditions under which a person or organisation will be permitted to set up a pet shop and conduct the buying and selling of pet animals. Some of these rules include registering the shop with the State Animal Welfare Board, ensuring comfortable and appropriate infrastructure for all the animals housed, veterinary care and health of the animals, among other things. Under no condition, buying and selling of pet animals is legal.
</p>

<p>
You can report to Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change.
</p>

<br>
<center><button type="button" class="btn btn-info"><a href="#report"> Report Abuse </a></button></center>

<h3 class="animate-charcter" style="
font-weight: 500">Online Fraud</h3> 
<p>
Most of the pets are being sold online illegally which leads to fraud. They are bred in poor conditions and even sold without vaccination which is dangerous not only to the life pet but also the person buying. If you faced such situation, don't be afraid to report the incident to Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change. Your small step can prevent illegal trade of animals online. You can report to us if you are unware of the rules.
</p>

<h3 class="animate-charcter" style="
font-weight: 500">Neglect</h3>
<p>
Failure to provide basic needs for an animal, makes up the vast majority of cruelty cases that animal control officers or animal resque volunteers respond to. Neglect often includes hoarding, veterinary care, undernourishment or lack of shelter, abandonment and tethering, as well as other forms of abuse or cruelty.
</p>

<h3 class="animate-charcter" style="
font-weight: 500">Direct abuse</h3>
<p>
It can be very disturbing to see animal being beaten by someone, but it is important not to turn away. It is crucial to involve law enforcement quickly, as abuse toward animals is often part of a larger pattern of violence that can include people as well. You can report to Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change.
</p>

<h3 class="animate-charcter" style="
font-weight: 500">
Reporting abuse
</h3>

<p>
If you witness suspected abuse to animals, call your local animal control service as soon as possible or dial 100 if you are unfamiliar with local organizations.</p>

<p>
The responding agency is required to investigate if you make a report of alleged animal cruelty.</p>

<p>
If your area lacks the proper animal welfare service and your local authorities are not well equipped to deal with animal cruelty cases, you can also contact us. You can also contact Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change.
</p><br>
<center><button type="button" class="btn btn-info"><a href="#report"> Report Abuse </a></button></center>


<h3 class="animate-charcter" style="
font-weight: 500">
Hoarding</h3>
<p>
Hoarding behavior often abuses animals. Sufferers of a hoarding disorder may impose critical neglect on animals by housing far more than they are able to sufficiently take care of. Contact your local animal control service if you find out about animal hoarding. Some animal hoarding situations can be more difficult than others to solve.</p>

<h3 class="animate-charcter" style="
font-weight: 500">
Lack of veterinary care</h3>
<p>
Untreated wounds are a red flag that demand immediate attention; scabs, hair loss and emaciation can also be a sign of untreated diseases. Alert the owner or animal control board to the animal's condition. Alert local authorities of suspected neglect as soon as possible.</p>


<h3 class="animate-charcter" style="
font-weight: 500">
Inadequate shelter</h3>

<p>
In extreme cold or heat or any other weather situations, temperatures can be deadly. It can seem unnecessary to report neglect for inadequate sheltering, but conditions can change adversely very fast, causing suffering or even death of the animal. Contact a local animal control service immediately if you see an animal in inadequate shelter and document the incident with a phone camera if possible.</p>

<p>
Chained dogs
Dogs who are abused and tethered continuously suffer tremendously, both from social isolation and exposure to predators and the elements.</p>

<p>
You can report to Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change.
</p><br>
<center><button type="button" class="btn btn-info"><a href="#report"> Report Abuse </a></button></center>

<h3 class="animate-charcter" style="
font-weight: 500">Abandonment</h3> 
<p>
A surprising number of animals die every year when people move out of their residences and simply leave the animals behind. Sometimes an abandoned dog is barking or cat is howling can alert the neighbors, but it is wise to keep an eye on a recently vacated home, especially if the former residents moved suddenly. Companion animals kept in cages or tanks are often overlooked upon a resident is sudden passing and may suffer neglect as well. If you find or know of abandoned animals, contact your local animal control service immediately.</p>

<h3 class="animate-charcter" style="
font-weight: 500">Pets left in cars
</h3>
<p>
Time is of the great essence when reporting pets or animals left in parked vehicles. Even if the outside temperature seems cool, these animals could be minutes away from irreversible organ damage or sudden death. If you cannot locate the owner or driver immediately, don’t be afraid and call local authorities, detailing the location, make, model and license plate number of the vehicle the animal is inside.</p>
<h3 class="animate-charcter" style="
font-weight: 500">Beating and physical abuse</h3>
<p>If you witness direct physical violence or abuse to an animal, report the incident immediately to your local authorities. If you decide to intervene, use your best judgement and do not get physically involved in the situation; always remember, even well-intentioned actions could compromise the process of investigation into suspected abuse.</p> 

<p>You can report to Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change.</p> 

<h3>Animal fighting and organized cruelty</h3> 
<p>
Organized cruelty, such as cockfighting, dogfighting and other bloodsports, is illegal in India and is linked to other criminal activities such as human violence, gambling and drug distribution. If you hear about or witness such events, immediately report them to the local authorities.</p>
<p>
You can report to Animal Welfare Board of India or Ministry of Environment, Forest and Climate Change.
</p>
<p>
These are just a few common examples of animal cruelty. Even if a case does not fit neatly into these categories, take action if something feels not right. In many cases, you may be the only chance an animal has at escaping abuse, violence or neglect. Only you can make a difference.</p>
<br>
<center><button type="button" class="btn btn-info"><a href="#report"> Report Abuse </a></button></center>

</div>

<center><h2 class="animate-charcter" style="
    font-weight: 700">Our Commitment
</h2></center>
<div class="jumbotron" style="line-height:2.0">
    <ul>
        <li><i class="fa-solid fa-star"></i> Report illegal Online Pet Trade</li>
    <li> <i class="fa-solid fa-star"></i> Promote public awareness.</li>
    <li> <i class="fa-solid fa-star"></i> Advise local authorities and assist in specific local cases.</li>
    <li><i class="fa-solid fa-star"></i> Direct intervention and rescue in animal cruelty cases.</li>
    <li> <i class="fa-solid fa-star"></i> Advocate to strengthen animal protection laws.</li>
    <li> <i class="fa-solid fa-star"></i> Collect information leading to an animal abuse or animal fighting conviction.</li>
    
</ul>
</div>
<a id="report"></a>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSde9tJ5TxFtPlLEkzSaFLQqCBMg60LMCkyfc_l9_dxMcMOJyg/viewform?embedded=true" width="100%" height="2081" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>
<br><br><br>
<%- include("partials/footer"); -%>
