
<%- include("partials/second"); -%>
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo animate-charcter-head">Woofyverse</label>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="nav-item dropdown">
      <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Adopt
      </a>
      <ul style="line-height:0cm ;" class="dropdown-menu">
        <li><a class="dropdown-item" href="/permanent-adoption">Adopt Permanently</a></li>
        <li><a class="dropdown-item" href="/experience-adoption">Experience Adoption</a></li>
        <li><a class="dropdown-item" href="/breed">Search by Breed</a></li>
      </ul>
    </li>
    <li><a href="/compose">Rehome</a></li>
    <li><a href="/adopted">Adopted</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/donate">Donate</a></li>
      <li><a class="btn btn-primary logout" href="/<%=text%>"><%=text%></a></li>
   
</nav>
<br><br><br>
    <div class="container">

<div class="container">
  <center><h1 style="
    font-weight: 700; font-size:
    55px; text-align: center;
    line-height: 1.2;" class="animate-charcter">Rehome Your Buddy</h1></center>
     <div class="jumbotron" style="background-color: white;">
    <h1>Pet Details</h1>
    <form class="" action="/compose" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="required">Name</label>
        <input autofocus class="form-control" type="text" name="dogName" required>
        <label class="required">Type of Adoption</label>
        <select name="type" class="form-control" required>
          <option value="" selected disabled hidden>Select</option>
          <option value="long">Lifetime</option>
          <option value="others">Temporarily</option>
        </select>
    
        <label class="required">Breed</label>
        <select style="width: 400px; height: 40px" name="breed" id="breed_select" class=" form-control required" required>
          <option selected hidden disabled >Select a Breed
          </option>
          <option id="0">Indian pariah dog</option>
      <option id="1">Affenpinscher</option><option id="2">Afghan Hound</option><option id="3">African Hunting Dog</option><option id="4">Airedale Terrier</option><option id="5">Akbash Dog</option><option id="6">Akita</option><option id="7">Alapaha Blue Blood Bulldog</option><option id="8">Alaskan Husky</option><option id="9">Alaskan Malamute</option><option id="10">American Bulldog</option><option id="11">American Bully</option><option id="12">American Eskimo Dog</option><option id="13">American Eskimo Dog (Miniature)</option><option id="14">American Foxhound</option><option id="15">American Pit Bull Terrier</option><option id="16">American Staffordshire Terrier</option><option id="17">American Water Spaniel</option><option id="18">Anatolian Shepherd Dog</option><option id="19">Appenzeller Sennenhund</option><option id="21">Australian Cattle Dog</option><option id="22">Australian Kelpie</option><option id="23">Australian Shepherd</option><option id="24">Australian Terrier</option><option id="25">Azawakh</option><option id="26">Barbet</option><option id="28">Basenji</option><option id="29">Basset Bleu de Gascogne</option><option id="30">Basset Hound</option><option id="31">Beagle</option><option id="32">Bearded Collie</option><option id="33">Beauceron</option><option id="34">Bedlington Terrier</option><option id="36">Belgian Malinois</option><option id="38">Belgian Tervuren</option><option id="41">Bernese Mountain Dog</option><option id="42">Bichon Frise</option><option id="43">Black and Tan Coonhound</option><option id="45">Bloodhound</option><option id="47">Bluetick Coonhound</option><option id="48">Boerboel</option><option id="50">Border Collie</option><option id="51">Border Terrier</option><option id="53">Boston Terrier</option><option id="54">Bouvier des Flandres</option><option id="55">Boxer</option><option id="56">Boykin Spaniel</option><option id="57">Bracco Italiano</option><option id="58">Briard</option><option id="59">Brittany</option><option id="61">Bull Terrier</option><option id="62">Bull Terrier (Miniature)</option><option id="64">Bullmastiff</option><option id="65">Cairn Terrier</option><option id="67">Cane Corso</option><option id="68">Cardigan Welsh Corgi</option><option id="69">Catahoula Leopard Dog</option><option id="70">Caucasian Shepherd (Ovcharka)</option><option id="71">Cavalier King Charles Spaniel</option><option id="76">Chesapeake Bay Retriever</option><option id="78">Chinese Crested</option><option id="79">Chinese Shar-Pei</option><option id="80">Chinook</option><option id="81">Chow Chow</option><option id="84">Clumber Spaniel</option><option id="86">Cocker Spaniel</option><option id="87">Cocker Spaniel (American)</option><option id="89">Coton de Tulear</option><option id="92">Dalmatian</option><option id="94">Doberman Pinscher</option><option id="95">Dogo Argentino</option><option id="98">Dutch Shepherd</option><option id="101">English Setter</option><option id="102">English Shepherd</option><option id="103">English Springer Spaniel</option><option id="104">English Toy Spaniel</option><option id="105">English Toy Terrier</option><option id="107">Eurasier</option><option id="108">Field Spaniel</option><option id="110">Finnish Lapphund</option><option id="111">Finnish Spitz</option><option id="113">French Bulldog</option><option id="114">German Pinscher</option><option id="115">German Shepherd Dog</option><option id="116">German Shorthaired Pointer</option><option id="119">Giant Schnauzer</option><option id="120">Glen of Imaal Terrier</option><option id="121">Golden Retriever</option><option id="123">Gordon Setter</option><option id="124">Great Dane</option><option id="125">Great Pyrenees</option><option id="127">Greyhound</option><option id="128">Griffon Bruxellois</option><option id="129">Harrier</option><option id="130">Havanese</option><option id="134">Irish Setter</option><option id="135">Irish Terrier</option><option id="137">Irish Wolfhound</option><option id="138">Italian Greyhound</option><option id="140">Japanese Chin</option><option id="141">Japanese Spitz</option><option id="142">Keeshond</option><option id="144">Komondor</option><option id="145">Kooikerhondje</option><option id="147">Kuvasz</option><option id="149">Labrador Retriever</option><option id="151">Lagotto Romagnolo</option><option id="153">Lancashire Heeler</option><option id="155">Leonberger</option><option id="156">Lhasa Apso</option><option id="161">Maltese</option><option id="165">Miniature American Shepherd</option><option id="167">Miniature Pinscher</option><option id="168">Miniature Schnauzer</option><option id="171">Newfoundland</option><option id="172">Norfolk Terrier</option><option id="176">Norwich Terrier</option><option id="177">Nova Scotia Duck Tolling Retriever</option><option id="178">Old English Sheepdog</option><option id="179">Olde English Bulldogge</option><option id="181">Papillon</option><option id="183">Pekingese</option><option id="184">Pembroke Welsh Corgi</option><option id="185">Perro de Presa Canario</option><option id="188">Pharaoh Hound</option><option id="189">Plott</option><option id="193">Pomeranian</option><option id="196">Poodle (Miniature)</option><option id="197">Poodle (Toy)</option><option id="201">Pug</option><option id="204">Puli</option><option id="205">Pumi</option><option id="207">Rat Terrier</option><option id="208">Redbone Coonhound</option><option id="209">Rhodesian Ridgeback</option><option id="210">Rottweiler</option><option id="211">Russian Toy</option><option id="212">Saint Bernard</option><option id="213">Saluki</option><option id="214">Samoyed</option><option id="216">Schipperke</option><option id="218">Scottish Deerhound</option><option id="219">Scottish Terrier</option><option id="221">Shetland Sheepdog</option><option id="222">Shiba Inu</option><option id="223">Shih Tzu</option><option id="225">Shiloh Shepherd</option><option id="226">Siberian Husky</option><option id="228">Silky Terrier</option><option id="232">Smooth Fox Terrier</option><option id="233">Soft Coated Wheaten Terrier</option><option id="235">Spanish Water Dog</option><option id="236">Spinone Italiano</option><option id="238">Staffordshire Bull Terrier</option><option id="239">Standard Schnauzer</option><option id="242">Swedish Vallhund</option><option id="243">Thai Ridgeback</option><option id="244">Tibetan Mastiff</option><option id="245">Tibetan Spaniel</option><option id="246">Tibetan Terrier</option><option id="248">Toy Fox Terrier</option><option id="250">Treeing Walker Coonhound</option><option id="251">Vizsla</option><option id="253">Weimaraner</option><option id="254">Welsh Springer Spaniel</option><option id="256">West Highland White Terrier</option><option id="257">Whippet</option><option id="258">White Shepherd</option><option id="259">Wire Fox Terrier</option><option id="260">Wirehaired Pointing Griffon</option><option id="261">Wirehaired Vizsla</option><option id="262">Xoloitzcuintli</option><option id="264">Yorkshire Terrier</option></select>
     
        <label class="required">Date</label>
        <input type="date" name="postDate" class="form-control" required>
         <label class="required">Age</label>
        <select class="form-control " name = "dogAge" required>
          <option value="" selected disabled hidden>Select</option>
          <option value = "Puppy">Puppyhood</option>
          <option value = "Adolescence">Adolescence</option>
          <option value = "Adult">Adulthood</option>
          <option value = "Senior">Senior</option>
       </select>
       
       <label class="required">Gender</label>
       <select class="form-control " name = "dogGender" required>
        <option value="" selected disabled hidden>Select</option>
         <option value = "Male">Male</option>
         <option value = "Female">Female</option>
      </select>
      <label class="required">Spayed</label>
       <select class="form-control " name = "spayed" required>
        <option value=""  selected disabled hidden>Select</option>
         <option value = "Yes">Yes</option>
         <option value = "No">No</option>
      </select>
      <label class="required">Neutered</label>
      <select class="form-control " name = "neutered" required>
        <option value="" selected disabled hidden>Select</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
     </select>
     <label class="required">Vaccinated</label>
     <select class="form-control " name = "vaccinated" required>
      <option value="" selected disabled hidden>Select</option>
       <option value = "Yes">Yes</option>
       <option value = "No">No</option>
    </select>
    <label class="required">Good with Kids</label>
       <select class="form-control " name = "kids" required>
        <option value="" selected disabled hidden>Select</option>
         <option value = "Yes">Yes</option>
         <option value = "No">No</option>
      </select>
      <label class="required">Good with Cats</label>
      <select class="form-control " name = "cats" required>
        <option value="" selected disabled hidden>Select</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
     </select>
     <label class="required">Good with Dogs</label>
       <select class="form-control " name = "dogs" required>
        <option value="" selected disabled hidden>Select</option>
         <option value = "Yes">Yes</option>
         <option value = "No">No</option>
      </select>
      <label class="required">Shots up to Date</label>
      <select class="form-control " name = "shots" required>
       <option value="" selected disabled hidden>Select</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
     </select>
      <label class="required" for="files" >Select some images of the Dog (All 3 are required)</label>
      <input  accept=".jpg, .png" id="imageOne" name="imageOne" class="form-control" type="file" required>
        <br>

        <h1>Owner Details</h1>
        <label class="required">Name</label>
        <input  class="form-control" type="text" name="ownerName" required>
        <label class="required">Address</label>
        <input type="text" name="address" class="form-control" required>
        <label class="required">State</label>
        <input  spellcheck="true" type="text" name="state" class="form-control" required>
        <label class="required">City</label>
        <input spellcheck="true" type="text" name="city" class="form-control " required>
        <label class="required">Phone</label>
        <input inputmode="tel" type="number" name="ownerPhone"  class="form-control" required>

        <br>

        <h1>Additional Details</h1>
        <label>Why do you want to Rehome your pet?</label>
        <textarea id="aTag"  class="form-contro" name="additionalOne" rows="5" cols="30" ></textarea>
        <label>Additional info about the pet</label>
        <textarea id="bTag" class="form-control" name="additionalTwo" rows="5" cols="30" ></textarea>
        <br>
       
      </div>
      <button class="btn btn-success" type="submit" name="button">Rehome</button>
    </form>
  </div>
  </div>
  <br>
  <br>
  <br>
<%- include("partials/footer"); -%>
