<%- include("partials/second"); -%>
<br>
<div class="jumbotron">
    <h2 style="text-align: center;">Copyright © Woofyverse 2022 All Rights Reserved</h2>
<br>
<p>All files and information contained in this Website or Blog are copyright by Woofyverse, and may not be duplicated, copied, modified or adapted, in any way without our written permission. Our Website or Blog may contain our service marks or trademarks as well as those of our affiliates or other companies, in the form of words, graphics, and logos. Your use of our Website, Blog or Services does not constitute any right or license for you to use our service marks or trademarks, without the prior written permission of Woofyverse. Our Content, as found within our Website, Blog and Services, is protected under United States and foreign copyrights. The copying, redistribution, use or publication by you of any such Content, is strictly prohibited. Your use of our Website and Services does not grant you any ownership rights to our Content.</p>


<h6>Copyright © Orion Systems. All Rights Reserved. <a href=" www.DisclaimerTemplate.com">Disclaimer Template</a></h6> 
</div>
<%- include("partials/footer"); -%>